body {
  background-image: url("/static/images/APOD.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

table {
  position: absolute;
  left: 30%;
  top: 10%;
  width: 40%;
  height: 80%;
}

tr {
  height: 10%;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
  background: rgba(255, 0, 0, 0.5);
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background: rgba(0, 0, 0, 0.5);
}

.fillRemaining {
  height: calc(100vh - 200px);
}
