{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Checkers!</h1>
      <p class="col-md-8 fs-4">
        Checkers, also known as Draughts, is a group of strategy board games for
        two players which involve diagonal moves of uniform game pieces and
        mandatory captures by jumping over opponent pieces.
      </p>
      <button class="btn btn-primary btn-lg" type="button">Learn More</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Rules</h2>
        <p>
          Draughts is played by two opponents, on opposite sides of the
          gameboard. One player has the dark pieces; the other has the light
          pieces. Players alternate turns. A player may not move an opponent's
          piece. A move consists of moving a piece diagonally to an adjacent
          unoccupied square. If the adjacent square contains an opponent's
          piece, and the square immediately beyond it is vacant, the piece may
          be captured (and removed from the game) by jumping over it. Only the
          dark squares of the checkered board are used. A piece may move only
          diagonally into an unoccupied square. When presented, capturing is
          mandatory in most official rules and where the player does not capture
          the opposing player can remove the opponent piece as penalty and where
          there are two or more such positions the player forfeits that/those he
          cannot move. Although some rule variations make capturing optional. In
          almost all variants, the player without pieces remaining, or who
          cannot move due to being blocked, loses the game...
        </p>
        <button class="btn btn-outline-secondary" type="button">
          Learn More
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>How to Play</h2>
        <p>
          Click on the unit you want to move and then the space you want to move
          it to. You will only be allowed to select two spots. If the move is
          invalid nothing will happen and you will have to reselect.
        </p>
        <button class="btn btn-outline-secondary" type="button">
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
