{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
{{ super() }}
<link href="/static/css/signin.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<main class="form-signin">
  <form method="POST" action="{{ action }}">
    {% if error %}
    <h1 class="h3 mb-3 fw-normal text-danger">{{ error }}</h1>
    {% else %} {% if success %}
    <h1 class="h3 mb-3 fw-normal text-success">{{ error }}</h1>
    {% endif %}
    <h1 class="h3 mb-3 fw-normal">Please {{ name }}</h1>
    {% endif %}
    <div class="form-floating">
      <input
        class="form-control"
        id="floatingInput"
        name="username"
        placeholder="Username"
      />
      <label for="floatingInput"> Username </label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">
      {{ name }}
    </button>
  </form>
</main>
{% endblock %}
