{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link href="/static/css/checkers.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="row fillRemaining">
    <div class="col">
    </div>
    <div class="col-6">
      <table>
        {% for j in range (8) %}
          <tr>
            {% for i in range(8) %}
              <td class="h1">
          {% if game['board'][j][i] != 0 %}
            {{ game['emojis'][ game['board'][j][i] % 2 ] }}
          {% endif %}
          </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col d-flex align-items-center">
      <h1>It is currently {{ game['emojis'][ game['turn']]}}'s turn</h1>
      </div>
{% endblock %}
